@model StopPointCompositeViewModel;


@{
    ViewData["Title"] = Model.StopPoint.Name + " Details";
    int lineNum = 0;
}

@section Css{
           <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9SetMD4nKs5jRq5KVC3iMyTKl4ev3cAM"></script>
      <style>
        #map {
            height: 800px;
            width: 100%;
        }

    </style>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: @Model.StopPoint.Latitude, lng: @Model.StopPoint.Longitude },
            zoom: 15,
            styles: [
                {
                    featureType: 'poi',
                    elementType: 'labels',
                    //stylers: [{ visibility: 'off' }]
                }
            ]
        });

        var locations = [
           ['<h4> @Model.StopPoint.Name </h4>', @Model.StopPoint.Latitude, @Model.StopPoint.Longitude],
        ];

        var infowindow = new google.maps.InfoWindow();
        var allStopIcon = {
            url: '/AdminSection/img/BusStopPoint1.png',
            size: new google.maps.Size(35, 35),
            scaledSize: new google.maps.Size(35, 35)
        };

        var locationsMarkers = [];
        for (var i = 0; i < locations.length; i++) {
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map,
                title: locations[i][0],
                icon: allStopIcon
            });

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));

            locationsMarkers.push(marker);
        }

 @if (@ViewBag.UserType == UserType.MapAdmin.ToString())
                    {
       @: var marker = new google.maps.Marker({
        @:    position: { lat: @Model.StopPoint.Latitude, lng: @Model.StopPoint.Longitude },
       @:     map: map,
       @:     draggable: true // Make the marker draggable
      @:  });
                
        // Update the input fields when the marker position changes
         @:   google.maps.event.addListener(marker, 'dragend', function () {
         @:    var latLng = marker.getPosition();
         @:    $('input[name="UpdateDto.Latitude"]').val(latLng.lat());
         @:    $('input[name="UpdateDto.Longitude"]').val(latLng.lng());
         @:   });
                    }
    }
</script>

}
@section Scripts{
    <script src="~/AdminSection/vendor/bootstrap-datepicker.js"></script>
    <script>$('input.date-pick').datepicker();</script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9SetMD4nKs5jRq5KVC3iMyTKl4ev3cAM&callback=initMap"></script>

}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Admin">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Stop Point</li>
    </ol>
    <div class="box_general pb-3">
        <div class="header_box">
            <h2 class="d-inline-block">Stop Point Details </h2>
        </div>
        <div class="list_general order">
            <ul>
                <li>
                    <figure><img src="~/AdminSection/img/BusStopPoint1.png" alt=""></figure>
                    <h4>@Model.StopPoint.Name</h4>
                    <ul class="booking_list">
                        <li><strong>Address</strong>@Model.StopPoint.Address</li>
                        <li><strong>City</strong> @Model.StopPoint.City.Name </li>
                        <li><strong>Latitude</strong> @Model.StopPoint.Latitude </li>
                        <li><strong>Longitude</strong>  @Model.StopPoint.Longitude</li>
                    </ul>

                    @if (@ViewBag.UserType == UserType.MapAdmin.ToString())
                    {
                           <p><a href="#0" class="btn_1" data-toggle="modal" data-target="#client_detail_modal"><i class="fa fa-fw fa-pencil"></i> Edit Stop Point detail</a></p>

                    }
                </li>
            </ul>
        </div>
        <hr>
        <!-- Start Lines detail -->
        <h5>Lines</h5>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Bus</th>
                            <th>Company</th>
                            <th>TimeAccess</th>
                            <th>IsAccess</th>
                            <th>IsActive</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Bus</th>
                            <th>Company</th>
                            <th>TimeAccess</th>
                            <th>IsAccess</th>
                            <th>IsActive</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @if (Model.StopPoint.LinesSP.Any())
                        {
                            foreach (var point in Model.StopPoint.LinesSP)
                            {
                                lineNum++;
                                <tr>
                                    <td>@point.Line.Id </td>
                                    <td>@point.Line.Name</td>
                                @if (@point.Line.Bus != null)
                                    {
                                        <td>@point.Line.Bus.Name</td>
                                    }
                                    else
                                    {
                                        <td>Null</td>

                                    }

                                    <td>@point.Line.Company.Name</td>
                                    <td>@point.TimeAccess</td>
                                    <td>@point.IsAccess</td>
                                    @if (@point.Line.Bus != null)
                                    {
                                        <td>Active</td>
                                    }
                                    else
                                    {
                                      <td>Deactive</td>
                                    }



                                </tr>
                            }

                        }


                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-end total_order">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <ul>
                    <li>
                        <span>Total</span> @lineNum
                    </li>
                </ul>
            </div>
        </div>

          @if (@ViewBag.UserType != UserType.MapAdmin.ToString())
                    {
                                      <div id="map"></div>
                    }
        <!-- End Lines detail -->

    </div>
    <!-- /box_general-->
</div>


<!-- Stop Point Detail Modal -->
<form action="~/Admin/StopPoint/Edit" method="post" enctype="multipart/form-data">
    <div class="modal fade" id="client_detail_modal" tabindex="-1" role="dialog" aria-labelledby="client_detail_modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="client_detail_modalLabel">Edit Stop Point detail</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input hidden required asp-for="UpdateDto.Id" value="@Model.StopPoint.Id">
                    <div class="form-group">
                        <label>Name</label>
                        <input required asp-for="UpdateDto.Name" type="text" class="form-control" value="@Model.StopPoint.Name">
                    </div>

                    <div class="form-group">
                        <label>Address</label>
                        <input required asp-for="UpdateDto.Address" type="text" class="form-control" value="@Model.StopPoint.Address">
                    </div>

                    <div class="form-group">
                        <label>City</label>
                        @*<input required asp-for="UpdateDto.City" type="text" class="form-control" value="@Model.StopPoint.City">*@
                        @*     <select class="form-control" asp-for="CreateDto.CityId" asp-items="@(new SelectList(ViewBag.CitySelectList, "Value", "Text"))" required>
                        <option value="">Select a City</option>
                        </select>*@
                        <select class="form-control" asp-for="UpdateDto.CityId" required>
                            <option value="">Select a City</option>
                            @foreach (var city in ViewBag.CitySelectList)
                            {
                                int cityId = int.Parse(city.Value);
                                @if (city.Value == Model.StopPoint.City.Id.ToString())
                                {
                                    <option value="@cityId" selected>@city.Text</option>
                                }
                                else
                                {
                                    <option value="@cityId">@city.Text</option>
                                }
                            }
                        </select>

                    </div>
                    <div class="row">
                              <div id="map"style="height: 400px;"></div>
                    </div>

                    <div class="form-group">
                        <label>Latitude</label>
                        <input required readonly asp-for="UpdateDto.Latitude" type="text" class="form-control" value="@Model.StopPoint.Latitude">
                    </div>

                    <div class="form-group">
                        <label>Longitude</label>
                        <input required readonly asp-for="UpdateDto.Longitude" type="text" class="form-control" value="@Model.StopPoint.Longitude">
                    </div>
                </div>
                <div class="modal-footer">
                    @*<a class="btn btn-primary" href="#0">Save</a>*@
                    <button type="submit" class="btn_1 medium">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

