@model LineCompositeViewModel;

@{
    ViewData["Title"] = "company Details";
}

@section Css{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYSc1HVpre2VsOCttajANlEwB3-Vzb7N8"></script>

    <script>
        function initMap() {

            var locations = [


        @foreach (var point in Model.Line.LinesSP)
        {

            @:['<h4>' + '@point.StopPoint.Name' + '</h4>', @point.StopPoint.Latitude, @point.StopPoint.Longitude],

        }


                                                                                                                                          ];

            var map = new google.maps.Map(document.getElementById('map'), {
        @if (Model.Line.Bus != null)
        {
            @:center: { lat: @Model.Line.Bus.Latitude, lng: @Model.Line.Bus.Longitude },
        }
        else
        {
            @:center: { lat: 31.279393272965454, lng: 34.25513974267617 },
        }
                zoom: 15,
                styles: [
                {
                    featureType: 'poi',
                    elementType: 'labels',
                    stylers: [{ visibility: 'off' }]
                }
            ]
                    });
        var infowindow = new google.maps.InfoWindow();
        var busStopIcon = {
            url: '/AdminSection/img/BusStopPointNonAccess.png',
            size: new google.maps.Size(35, 35),
            scaledSize: new google.maps.Size(35, 35)
        };
        var marker, i;
        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map,
                title: locations[i][0],
                icon: busStopIcon
            });

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }

        @if (Model.Line.Bus != null)
        {
            @:    var busMarker = new google.maps.Marker({
            @:position: new google.maps.LatLng(@Model.Line.Bus.Latitude, @Model.Line.Bus.Longitude),
            @:map: map,
            @:icon:
            @:{
            @:url: '/AdminSection/img/bus-icon.png',
            @:size: new google.maps.Size(32, 32),
            @:scaledSize: new google.maps.Size(32, 32)
            @:  }
            @:  });

            @:    function getLiveBusLocation()
            @:{
            @:$.ajax({
            @:url: '/Admin/Bus/GetBusLocation/@Model.Line.Bus.Id',
            @:type: 'GET',
            @:success: function (data) {
            @:              if (busMarker)
            @:{
            @:busMarker.setPosition(new google.maps.LatLng(data.latitude, data.longitude));
            @:console.log(data.latitude);
            @:console.log(data.longitude);
            @:          }
            @:      },
            @:error: function () {
            @:console.log('Error fetching bus location');
            @:       }
            @:   });
            @:    }

            @:busMarker.addListener('click', function () {
            @:window.open('/Admin/Bus/Details/@Model.Line.Bus.Id', '_blank');
            @: });
            @:setInterval(getLiveBusLocation, 5000);

        }


                                }

    </script>

    <style>
        #map {
            height: 800px;
            width: 100%;
        }
    </style>
}
@section Scripts{
    <script src="~/AdminSection/vendor/bootstrap-datepicker.js"></script>
    <script>$('input.date-pick').datepicker();</script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYSc1HVpre2VsOCttajANlEwB3-Vzb7N8&callback=initMap"></script>
}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Admin">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Line</li>
    </ol>
    <div class="box_general pb-3">
        <div class="header_box">
            <h2 class="d-inline-block">Line Details</h2>
        </div>
        <div class="list_general order">
            <ul>
                <li>
                    <figure><img src="img/item_1.jpg" alt=""></figure>
                    <h4>
                        @Model.Line.Name
                        @if (Model.Line.Bus != null)
                        {
                            <i class="approved">Active</i>
                        }
                        else
                        {

                            <i class="cancel">Inactive</i>

                        }


                    </h4>
                    <ul class="booking_list">
                        <li>
                            <strong>Code : </strong>
                            @if (@ViewBag.UserType == UserType.CompanyAdmin.ToString())
                            {
                                @Model.Line.Code
                            }
                            else
                            {
                                @: **********
                            }
                        </li>
                        <li>
                            <strong>Company : </strong>
                            <a href="~/Admin/Company/Details/@Model.Line.Company.Id">  @Model.Line.Company.Name</a>
                        </li>
                        <li>
                            <strong>Expired : </strong>
                            <i class="@(Model.Line.ActiveExpired > DateTime.Now ? "approved" : "cancel")">
                                @Model.Line.ActiveExpired
                            </i>
                        </li>
                        <li><strong>Bus : </strong>@(Model.Line.Bus != null ? @Model.Line.Bus.Name : "Null") </li>
                        @if (@ViewBag.UserType == UserType.CompanyAdmin.ToString())
                        {
                            <p>
                                <a href="#0" class="btn_1" data-toggle="modal" data-target="#client_detail_modal"><i class="fa fa-fw fa-pencil"></i> Edit Line detail</a>
                                <a href="~/Admin/Line/GenerateCode/@Model.Line.Id" class="btn_1"><i class="fa fa-fw fa-pencil"></i>Generate New Code</a>
                                <a asp-area="Admin" asp-action="Create" asp-controller="LineStopPoint"
                               asp-route-lineId="@Model.Line.Id" class="btn_1"><i class="fa fa-fw fa-pencil"></i> Edit Itinerary </a>
                            </p>
                        }
                    </ul>

                </li>
            </ul>
        </div>
        <hr>
        <h5>The stopping points that this line passes through :</h5>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Order</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Address</th>
                        <th>TimeAccess</th>
                        <th>IsAccess</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Order</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Address</th>
                        <th>TimeAccess</th>
                        <th>IsAccess</th>
                    </tr>
                </tfoot>
                <tbody>
                    @if (Model.Line.LinesSP.Any())
                    {
                        foreach (var point in Model.Line.LinesSP)
                        {
                            <tr>
                                <td>@point.Order </td>
                                <td>@point.StopPoint.Name</td>
                                <td>@point.StopPoint.City.Name</td>
                                <td>@point.StopPoint.Address</td>
                                <td>@point.TimeAccess</td>
                                <td>@point.IsAccess</td>
                            </tr>
                        }

                    }


                </tbody>
            </table>
        </div>



        <div class="table-responsive">
            <!--Map-->
            <div id="map"></div>
        </div>

    </div>
</div>




<!-- Line Detail Modal -->
<form action="~/Admin/Line/Edit" method="post" enctype="multipart/form-data">
    <div class="modal fade" id="client_detail_modal" tabindex="-1" role="dialog" aria-labelledby="client_detail_modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="client_detail_modalLabel">Edit Line detail</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input hidden required asp-for="UpdateDto.Id" value="@Model.Line.Id">
                    <div class="form-group">
                        <label>Name</label>
                        <input required asp-for="UpdateDto.Name" type="text" class="form-control" value="@Model.Line.Name">
                    </div>
                </div>
                <div class="modal-footer">
                    @*<a class="btn btn-primary" href="#0">Save</a>*@
                    <button type="submit" class="btn_1 medium">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
